<button type="button" class="btn btn-primary " routerLink="/creatproduct">creatproduct</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">product Id</th>
        <th scope="col">product Name</th>
        <th scope="col">product Price</th>
        <th scope="col">product Quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item  of product">
        <th >{{item._id}}</th>
        <td>{{item.productName}}</td>
        <td>{{item.productPrice}}</td>
        <td>{{item.productQuantity}}</td>
        <td><button (click)="deleteProduct(item._id)"><i class="material-icons">delete</i></button>
        <button (click)="editproduct(item._id)"> <i class="material-icons">edit</i></button>
        </td>
      </tr>
      
    </tbody>
  </table>